# API Frameworks
fastapi
uvicorn[standard]

# Data Preprocessing
pandas
numpy

# configuration
python-dotenv


# File uploads
python-multipart

# HTTP requests
requests

# Image Preprocessing
opencv-python
pillow
pytesseract

# AI/ML
langchain
langgraph

# validation
pydantic

# Testing
pytest
